.home {
    background: #f9f9f9;
    width: 100%;
    height: 100vh;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    border-top: -100%;
}

.content {
    text-indent: 1cm;
    max-width: 800px;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.8em;
}

.content span {
    font-weight: bolder;
    color: #DB4A73;
}

.btn-play {
    position: absolute;
    display: flex;
    margin-top: 35vh;
}

@media only screen and (max-width: 600px) {
    .content {
        text-indent: 0.5cm;
        max-width: 700px;
        font-size: 13px;
        height: 50vh;
        display: flex;
        align-items: center;
        padding: 20px;
        justify-content: center;
    }
    .btn-play {
        position: absolute;
        display: flex;
        margin-top: 50vh;
    }
}